input {
	background-color: black;
	color: white;
}

input#query {
	background-color: #333;
	border: 1px;
}

body, header {
	background-color: black;
	color: lightgrey;
	z-index: 1;
}

.id {
	background-color: black;
	color: grey;
}

img {
	filter: invert(1);
}

.scroll {
	border-left: 2px solid #22b;
}

.metadata {
	color: #aaa;
}

.id:hover {
	color: white;
}

.tag {
	background-color: #222;
	color: white;
}

.tag:hover {
	background-color: #338;
	border: 1px #330;
}
.content {
	z-index: -2;
}
