<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Alexandria</title>
	<link rel="stylesheet" type="text/css" href="static/main.css"/>
</head>
<body>
	<header class="container-fluid">
		<form class="input-group" action="search" method="get" accept-charset="utf-8">
			<input type="search" name="q" id="query" class="form-control"
				placeholder="Enter search…" autofocus/>
			<button type="submit" id="search" class="btn btn-primary">Search</button>
		</form>
	</header>
</body>
</html>
